.DS_Store
.idea
*.swp
*.pyc
__pycache__
*.ipynb*
*.tar*
*.zip
*.pkl
*.pyc
*.bak

checkpoints*
datasets/summer2winter_yosemite
datasets/bdd100k
datasets/photo2art
datasets/Cityscapes
datasets/ADEChallengeData2016
models/networks/sync_batchnorm
results*
srun_scripts

.isort.cfg
.pre-commit-config.yaml
